<!DOCTYPE HTML>
<html>
    <head>
        <title>Налаштування</title>
        <link rel="stylesheet" href="src/styles.css">
        <meta charset="utf-8">
    </head>
    <body>
        <div class="main">
            <form class="content" method="POST">
                <h1>Voice Assistant</h1>
                <div class="horizontal-flex">
                    <label>Ім’я голосового помічника</label>
                    <button>Редагувати</button>
                </div>
                <div class="horizontal-flex">
                    <label>Команди голосового помічника</label>
                    <button>Редагувати</button>
                </div>
                <div class="horizontal-flex">
                    <label>Розпізнавання голосу:</label>
                    <select name="sttLang" id="sttLang">
                        {% for key, value in assistant_stt.items() %}
                        <option value="{{ key }}"{% if current_settings["ASSISTANT_STT"] == key %}selected{% endif %}>{{ value.label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="horizontal-flex">
                    <label>Генерація голосу:</label>
                    <select name="ttsLang" id="ttsLang">
                        {% for key, value in assistant_tts.items() %}
                        <option value="{{ key }}"{% if current_settings["ASSISTANT_TTS"] == key %}selected{% endif %}>{{ value.label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="horizontal-flex">
                    <label>Переклад на:</label>
                    <select name="transLang" id="transLang">
                        {% for key, value in assistant_tra.items() %}
                        <option value="{{ key }}"{% if current_settings["ASSISTANT_TRA"] == key %}selected{% endif %}>{{ value.label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="under">
                    <a href="{{ url_for('other_settings') }}"><div class="link">Інше</div></a>
                    <a href="{{ url_for('add_languages') }}"><div class="link">Додати мови</div></a>
                    <button type="submit" value="save">Зберегти</button>
                </div>
            </form> 
        </div>
    </body>
</html>